# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# PID files
*.pid

# Windows shortcuts
*.lnk

# Public keys
*.pub

# Log files
*.log

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

#CSV files
*.csv

#PYC files
*.pyc

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.priv
*.pub
*.conf
CalendarInfoscreen/src/content.html
CalendarInfoscreen/src/web/content.html
*.dat
CalendarInfoscreen/src/pyqtdeploy/deploy/*

#release directory
CalendarInfoscreen/src/release/*

TestLab-Crossbar/access_tokens.py
*.pdy
*.zip
TestLab-Crossbar/.crossbar/key.pub
*.pub
*.json
